@font-face {
  font-family: "Outfit-Light";
  src: url("../../assets/fonts/Outfit-Light.ttf");
}
@font-face {
  font-family: "Outfit-SemiBold";
  src: url("../../assets/fonts/Outfit-SemiBold.ttf");
}
@font-face {
  font-family: "Outfit-ExtraBold";
  src: url("../../assets/fonts/Outfit-ExtraBold.ttf");
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Outfit-Light", sans-serif;
}

body {
  height: 100%;
}

.wrapper {
  margin: 0 40px;
}
